Source: ndppd
Section: unknown
Priority: extra
Maintainer: Daniel Adolfsson <daniel.adolfsson@tuhox.com>
Build-Depends: debhelper (>= 7.0.50~), libconfuse-dev (>= 2.7-1)
Standards-Version: 3.8.4
Homepage: http://www.tuhox.com/ndppd
Vcs-Git: git://github.com/Tuhox/ndppd.git
Vcs-Browser: https://github.com/Tuhox/ndppd

Package: ndppd
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NDP Proxy Daemon
 ndppd, or 'NDP Proxy Daemon', is a daemon that proxies NDP (Neighbor Discovery Protocol) 
 messages between interfaces.
